
.PodBadge {
  .badge-image {
    minWidth: 32px;
    width: 32px;
    height: 32px;
  }
  .ant-card-meta-description {
    font-size: 11px;
  }
  .rate {
    color: #2b78d6;
    margin: -10px 0 -10px 0;
  }
}
