@import (reference) './variables.less';
@import (reference) '../custom.less';

.AccList {
  &.UseTable {
    .main-body {
      padding: 0;
    }
    .main-content {
      padding: 0;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      table-layout: auto;

      &:last-of-type {
        margin-bottom: 0;
      }
      thead {
        background-color: transparent;
        border: 0;

        tr {
          background-color: rgb(250, 250, 250);
          border-bottom: 1px solid @grey-wire;
        }
        th {
          padding: 0.5rem 0.25rem 0.5rem 0;
          font-weight: normal;
          color: @grey-cloud;
          font-size: 0.875rem;

          &.acc-pic {
            width: 70px;
          }
          @media @small {
            &:first-of-type {
              padding-left: 0.75rem;
            }
          }
          @media @medium {
            &:first-of-type {
              padding-left: 1.25rem;
            }
          }  
        }
      }
      tbody {
        background-color: transparent;
        border: 0;

        tr {
          border-bottom: 1px solid @grey-wire;

          &:last-of-type {
            border-bottom: 0;
          }
          &:nth-child(even) {
            background-color: transparent;
          }
        }
      }
      td {
        width: auto;
        padding: 0.5rem 0.25rem 0.5rem 0;

        &.acc-pic {
          width: 70px;
        }
        @media @small {
          &:first-of-type {
            padding-left: 0.75rem;
          }
        }
        @media @medium {
          &:first-of-type {
            padding-left: 1.25rem;
          }
        }
      }
      .button {
        margin-bottom: 0;
      }
    }
  }

  &.UseList {
    &.main-content,
    .main-content {
      @media @small {
        padding: 0;
      }
      @media @medium {
        padding: 0;
      }

      .ant-table-thead {
        display: none;

        @media @small {
          display: table-header-group;
        }
      }
    }
    .actions {
      text-align: right;

      @media @small {
        text-align: left;
      }

      button {
        display: inline-block;
        margin: 0 0.25rem 0.25rem 0;
      }
    }

    /* pods */
    .Pods {
      .member_count,
      .post_count,
      .membership_fee {
        display: none;

        @media @small {
          display: table-cell;
        }
      }
    }

    /* ant design */
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 0.5rem 1rem;
    }
    .ant-table-thead > tr > th {
      color: @grey-cloud;
      font-weight: 400;
      font-size: 0.875rem;
    }
  }

  .RelAction {
    .btn;
    .btn-primary;
    .btn-ghost;

    box-shadow: none;
    text-shadow: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.875rem;
    padding: 0 8px;
    margin-top: 0;
    background-color: #d1d8dc;
    color: #7c8b95;
    border: 0;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      color: @white;
      background-color: @grey-cloud;
    }
  }

  .AvatarNameDateActions {
    font-size: 0.75rem;

    .acc-pic {
      width: 14%;
    }
    .acc-name {
      width: 23%;
    }
    .date {
      width: 23%;
    }
    .actions {
      width: 40%;
    }
    .RelAction {
      font-size: 0.75rem;
      padding: 0 4px;
    }
    @media @small {
      font-size: 1rem;

      .RelAction {
        font-size: 0.875rem;
        padding: 0 8px;
      }
    }
  }
}
