@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Interests {
  width:100%;
  padding-bottom: 1rem;
  
  & > h4 {
    color: @grey-rock;
    margin: 0 0 16px 0;
    font-weight: 500;
  }
  &__list > li {
    display: inline-block;
    padding: 2px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media @small {
  .affix {
    position: fixed;
    top: 86px;
    max-width: @right-width;
  }
}