@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.LoginForm {
  
  @media @small {
    display: flex;
  }
  
  .column {
  	width: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
  
  &__visual {
    display: none;
    height: 0;
    
    @media @small {
      display: flex;
      height: 100vh;
    	background: url('/images/background-login.jpg') no-repeat top center;
    	background-size: cover;
    	color: rgba(255,255,255,.7);
    }
  }
  &__text {
  	height: 100vh;
  	background-color: @white;
  }
  
  &__main {
    position: relative;
		padding: 0 12px;
		
    @media @small {
		  width: 70%;
      margin-bottom: 5%;
      padding: 0;
		}
		
		h1 {
  		font-size: 28px;
  		line-height: 50px;
  		font-weight: bold;
  		letter-spacing: -0.6px;
  		color: @grey-rock;
  		margin-bottom: 8px;
  		
  		@media @mini {
    		font-size: 36px;
  		}
		}
		p {
  		margin-bottom: 16px;
  		font-size: 16px;
  		line-height: 28px;
		}
		.ant-form-item {
  		margin-bottom: 6px;
		}
		.ant-input-prefix {
  		border-right: 1px solid @grey-wire;
  		width: 44px;
  		height: 44px;
		}
		.ant-input-affix-wrapper .ant-input:not(:first-child) {
  		padding-left: 51px;
		}
    .ant-input-affix-wrapper .ant-input-prefix {
        left: 0;
    }
    .anticon {
      font-size: 20px;
      margin: 12px 0 0 12px;
    }
		.ant-input {
  		border-radius: 2px;
  		border-color: @grey-wire;
  		height: 44px;
		}
		.ant-form-extra {
  		margin-top: 6px;
  		font-size: 14px;
  		color: @grey-rock;
		}
		.ant-checkbox-wrapper {
  		font-size: 14px;
  		color: @grey-rock;
		}
		.login-form-button {
  		display: block;
  		width: 100%;
  		height: auto;
  		padding: 8px 12px;
  		margin-bottom: 12px;
  		border-radius: 0;
		}
  }
}
