@import (reference) '../../../styles/custom.less';

.Notification {
  display: flex;
  flex: 1;
  padding: 12px;
  background-color: @notification-read-background-color;
  border-bottom: @base-border;

  &:hover {
    cursor: pointer;
  }

  &--unread {
    background-color: @notification-unread-background-color;
  }

  &__text {
    padding: 0 12px;
    text-align: left;

    &__message {
      color: @grey-mortar;

      & > a {
        font-weight: 700;
      }
    }

    &__date {
      font-size: 14px;
      color: @grey-darkGrey;
    }

    &__memo {
      font-size: 12px;
      font-style: italic;
      color: @black;
    }     
  }

  &__empty {
    border-bottom: @base-border;
    color: @black;
    justify-content: center;
  }

  &:last-of-type {
    border-bottom: 0 !important;
  }
}
