
@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.WalletSidebar {

  .ant-statistic {
    display: inline-block;
    margin: 0 0 0.25rem 0.125rem;

    .ant-statistic-content {
      display: inline;
      color: @grey-500;
      font-size: 0.987rem;
    }
  }
  .ant-btn.ant-btn-link {
    padding: 0;
    border: 0;
  }
  .info {
    padding-bottom: 0.375rem;
    color: @grey-500;
    font-size: 0.987rem;
  }
  .ant-collapse {
    margin: 1.25rem 0;

    .ant-collapse-item {
      border: 0;
    }
    .ant-collapse-header {
      padding: 0.25rem 0.25rem 0.25rem 2rem;
      background-color: @grey-200;
      font-size: 0.987rem;
    }
    .ant-collapse-content.ant-collapse-content-active {
      background-color: @grey-200;
      border-top: 1px solid @grey-400;
    }
    .ant-collapse-content-box {
      margin-top: 0.375rem;
      padding-bottom: 0.75rem;
    }
    .anticon {
      color: @grey-500;
    }
    .ant-row.ant-form-item {
      margin-bottom: 0.5rem;
    }
  }
}

