@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/custom.less';

.SendFriendRequest {
  
  .main-content {
    &.SendFriendRequest__content {
      margin-bottom: 1rem;
    }
  }
  h3 {
    margin: 0 0 0.5rem 0;
  }
  .Action {
    margin-top: 1rem;
    width: auto;
    height: 46px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2px;
    border: 0;
    color: @white;
  }
}