.Comments {
  max-width: 990px;
  margin: 0 auto;
  //overflow: hidden;

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
  }
}
