@import (reference) '../../styles/custom.less';

.Follow {
  .btn;
  .btn-primary;
  .btn-ghost;

  box-shadow: none;
  text-shadow: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 0 8px;
  margin-top: 3px;
  background-color: #d1d8dc;
  color: #7c8b95;
  border: 0;

  & > .anticon {
    margin-right: 12px;
  }
  &:hover, &:focus, &:active {
    cursor: pointer;
    color: @white;
    background-color: @grey-cloud;
  }
  &--danger {
    color: @white;
    background-color: @pink;
  }
}

