@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.CarouselLanding {
  display: none;
    
  @media @small {
    display: block;
    position: relative;
  }
  
  .ant-carousel {
      position: relative;
      z-index: 1;

    .slick-slide {
      overflow: hidden;
      
      @media @small {
        height: 320px;
        background-color: @primary-color;
      }
      @media @medium {
        height: 520px;
      }
    }
  }
  .slide {
 
    @media @small {
      height: 320px;
      background-color: @primary-color;
      background-repeat: no-repeat;
      background-position: right top;
      background-size: cover;
      background-color: @primary-color;
    }
    @media @medium {
      height: 520px;
    }
   
    &.one {
      background-image: url('/images/front/carousel-011.jpg');
      background-position: center center;
    }
    &.two {
      background-image: url('/images/front/carousel-021.jpg');
      background-position: center 25%;
    }
    &.three {
      background-image: url('/images/front/carousel-031.jpg');
      background-position: center 25%;
    }
    &.four {
      background-image: url('/images/front/carousel-041.jpg');
      background-position: center 35%;
    }
  }
  .slider-cta {

    @media @small {
      padding-left: 0;
      position: absolute;
      z-index: 10;
      padding: 80px 0 0 1rem;
      max-width: 40%;
      
      h1 {
        font-size: 24px;
        font-weight: 500;
        color: @white;
        text-shadow: 3px 3px 4px rgba(0,0,0,0.12);
        margin-bottom: 0.75rem;
      }
      .ant-btn {
        display: inline-block;
        margin-top: 0.75rem;
        padding: 0 2rem;
        font-size: 1.125rem;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); 
      }
    }
    @media @medium {
      padding: 180px 0 0 0;
      
      h1 {
        font-size: 28px;
        margin-bottom: 1.25rem;
      }
      .ant-btn {
        margin-top: 1.5rem;
      }
    }
  }
}

