@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/custom.less';

.FrontPage {
  .container {
    @media @medium {
      padding-left: 0;
    }
  }
  .centered {
    text-align: center;
  }
  h1 {
    color: white;
  }
  h2 {
    color: @primary-color;
    margin: 0.5rem 0 0.75rem;
    font-size: 1.25rem;

    @media @small {
      margin: 2.5rem 0 1.5rem;
      font-size: 1.75rem;
    }
  }
  h3 {
    margin: 1rem 0 0.5rem;
    color: @primary-color;
    font-size: 1rem;
    line-height: 1.25;
  }
  .inverse {
    background-color: @primary-color;

    h2,
    h3,
    p {
      color: white;
    }
    .ant-btn {
      color: @primary-color;
      background-color: white;
    }
  }
  p {
    color: @grey-cloud;
    font-size: 0.9375rem;
  }
  .ant-col-12 {
    width: 100%;
    padding: 0 0 1.5rem;

    @media @small {
      width: 50%;
      padding: 0;
    }
  }
  .ant-btn {
    border-radius: 2px;

    &.large {
      padding: 0.75rem 1.75rem;
      font-size: 1rem;
      line-height: auto;
      height: auto;
    }
  }
  .drawing {
    img {
      width: 100%;
    }
    p {
      @media @small {
        padding: 0 1rem;
      }
      @media @medium {
        padding: 0 2rem;
      }
    }
    .ant-btn {
      margin-right: 2rem;
    }
  }
  .cta {
    .ant-btn {
      display: inline-block;
      margin: 1rem 0;

      @media @large {
        margin: 3rem 0;
      }
    }
  }
  .pods {
    padding-bottom: 1rem;
    text-align: center;

    h2 {
      margin: 0 0 1rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
    img {
      width: 100%;
    }
    .ant-btn {
      display: inline-block;
      margin: 1rem 0 0 0;
    }
    @media @mini {
      img {
        max-width: 75%;
      }
    }
    @media @small {
      margin-bottom: 0;
      text-align: left;
      max-width: none;
      padding: 1.5rem 1rem;

      img {
        max-width: none;
      }
    }
    @media @medium {
      height: 520px;
      padding-top: 60px;

      p {
        padding-right: 2rem;
      }
      .ant-btn {
        margin-right: 2rem;
      }
    }
  }
  .rewards {
    text-align: center;
    background-color: @grey-wire;

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
    h2 {
      margin: 0 0 1rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
    .ant-btn {
      display: inline-block;
      margin: 1rem 0 0 0;
    }
    @media @small {
      justify-content: flex-start;
      height: 400px;
      padding: 1.5rem 1rem;
      background-image: url('/images/front/wls-tree-2.jpg');
      background-repeat: no-repeat;
      background-position: center 35%;
      background-size: cover;
      text-align: left;

      .ant-col-12 {
        width: 40%;
      }
      h2,
      p {
        color: white;
      }
    }
    @media @medium {
      padding-top: 30px;

      p {
        padding-right: 2rem;
      }
    }
    @media @large {
      padding-top: 90px;
      height: 520px;
    }
  }
  .anchor {
    display: block;
    position: relative;
    top: -61px;
    visibility: hidden;
  }

  .footer {
    display: none;
    height: 60px;
    display: flex;
    align-items: center;

    @media @medium {
      height: 120px;
    }
    .menu-bottom {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      & > li {
        flex: 0 0 auto;
        margin: 0 1.5rem 0 0;
        font-size: 1rem;
        font-weight: 300;

        &:last-of-type {
          margin-right: 0;
        }
        & > a {
          color: white;

          &:hover {
            color: @blue-light;
          }
          .svg-inline--fa {
            width: auto;
            height: 1.125rem;
            color: white;
            display: inline-block;

            @media @small {
              margin-right: 0.5rem;
            }
          }
          span {
            display: none;

            @media @small {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .show-on-mobile {
    @media @small {
      display: none;
    }
  }
}

.layout-landing {
  position: relative;
  padding: @mobile-padding;
  margin: 0 auto;

  @media @small {
    padding: 0 @mobile-padding;
  }
  @media @medium {
    padding: 0 0 0 20px;
  }
}
