@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/custom.less';

@base-spacing: 0;

.TopnavLanding {
  background-color: @primary-color;
  box-shadow: 0 0 4px @white-shadow;
  height: 61px;
  line-height: 61px;

  .brand {
    position: relative;
    top: -3px;
    flex: 0 0 auto;

    img {
      &.logo {
        display: none;

        @media @mini {
          display: inline;
        }
      }
      &.mark {
        @media @mini {
          display: none;
        }
      }
    }
  }
  .top-menu {
    background-color: transparent;
    border-bottom: 0;
    
      @media @small {
        padding-right: 1rem;
      }

    .ant-menu-item {
      padding-left: 0;
      padding-right: 1rem;
      
      @media @small {
        padding: 0 0.5rem;
      }
      a {
        color: white;
        
        &:hover {
          color: @blue-light;
        }
        .svg-inline--fa {
          width: auto;
          height: 1rem;

          @media @small {
            margin-right: 0.5rem;
          }
        }
        span {
          display: none;
  
          @media @small {
            display: inline-block;
          }
        }
      }
    }
  }
  .ant-btn {
    border-radius: 2px;
    font-weight: 300;
    font-size: 0.875rem;
    border: 1px solid @blue-light;
  }
}

.topnav-layout-landing {
  position: relative;
  margin: 0 auto;
  max-width: @container-width;
  display: flex;
  flex-direction: row;

  .onehalf {
    flex: 0 0 30%;
    text-align: left;
    padding-left: @mobile-padding;

    @media @large {
      padding-left: 0;
    }
  }
  .otherhalf {
    flex: 1 1 70%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    padding-right: 1rem;
    
    @media @large {
      padding-right: 0;
    }
  }
}

