@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.ErrorPage {
  position: relative;
  padding: @mobile-padding;

  @media @small {
    padding: 2rem @mobile-padding;
  }
  @media @medium {
    padding: 2rem 0 0 0;
  }
  h1 {
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.125rem;
    margin: 1rem 0 0.5rem;
  }
  .full-page-art {
    width: 100%;
  }
}
